#inicio{
    overflow-x: hidden;
}
.header{
    background-color: var(--primary--color);
    color: var(--secondary-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}
.header-items-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    backdrop-filter: blur(.4rem);
}
.header-items{
    display: flex;
    column-gap: 1.5625rem;
    text-transform: uppercase;
    font-size: 1.05em;
    font-weight: 700;
    cursor: pointer;
}
.header-logo{
    width: 11.875rem;
    height: 4.375rem;
    object-fit: cover;
    cursor: pointer;
}
.link-hover{
    position: relative;
}
.link-hover::before {
    content: '';
    position: absolute;
    border: 2px solid var(--secondary-color);
    width: 100%;
    top: 90%;
    transform: rotate(-3deg) translateY(-50%);
    left: -10%;
    opacity: 0;
    transition: .4s ease;
}
.link-hover:hover::before{
    opacity: 1;
    left: 0;
}
.projects{
    position: relative;
    padding-bottom: 6rem;
}
.clouds-bg{
    position: absolute;
    top: -8rem;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
}
#gallery {
    margin: 8rem 0 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem 1rem;
    animation: slideUp 1.5s ease .5s both;
}
@keyframes slideUp {
    from {
        opacity: 0;
        scale: .5;
    }
}
.rotated {
    transform: rotate(var(--rotation));
}
.projects-images{
    width: 20rem;
    transition: .3s;
    user-select: none;
    pointer-events: auto;
    cursor: pointer;
}
.projects-images:hover {
    scale: 1.1;
    transform: rotate(0);
    z-index: 2;
}
.lightbox {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.469);
    backdrop-filter: blur(2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
    z-index: 4;
}
.btn-close{
    position: absolute;
    width: 2.7rem;
    top: 1rem;
    right: 1rem;
    color: white;
    cursor: pointer;
}
.lightbox .expanded-img{
    margin-top: 3rem;
    width: 100%;
    height: 90vh;
    max-height: 50rem;
    object-fit: contain;   
    user-select: none;
    pointer-events: none;
}
.lightbox.isActive{
    opacity: 1;
    pointer-events: auto;
}
.section{
    position: relative;
}
.description-section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    padding: 0 6rem 4rem 6rem;
}
.container-h1{
    width: 60%;
    font-size: 5em;
    margin-right: 6rem;
}
.container-description{
    max-width: 30rem;
    font-size: .92em;
    line-height: 1.4rem;
    align-self: flex-end; 
    padding-top: 1.4rem;
}
#showreel{
    width: 100%;
    height: 90%;
} 
.showreel-video{
    width: 100%;
}
footer{
    height: 20vh;
    width: 100%;
}

@media (max-width: 76rem) {
    .header-items-container{
        padding: 0 4rem 0 3rem;
    }
    .header-logo{
        width: 10rem;
    }
    .description-section{
        min-height: 80%;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 2rem 4rem 2rem;
    }
    .container-h1{
        width: 80%;
        margin: 0 0 0 3rem;
    }
    .container-description{
        font-size: .9em;
        line-height: 1.3rem;
        padding-top: 1rem;
        align-self: flex-end;
    }
}
@media (max-width: 52rem) {
    .header-items-container{
        padding: 0 2rem 0 1.2rem;
    }
    .header-items{
        font-size: .95em;
    }
    .header-items li:first-child{
        display: none;
    }
    .container-h1{
        width: 70%;
        font-size: 4em;
        margin: 0;
    }
}
@media (max-width: 30rem) {
    .header-items-container{
        padding: 0 .5rem 0 0;
        border-bottom-left-radius: .5rem;
        border-bottom-right-radius: .5rem;
    }
    .header-items{
        column-gap: 1rem;   
    }
    .header-logo{   
        width: 7rem;
        max-height: 4rem;
    }
    .description-section{
        padding: 0 1rem 2rem 1rem;
    }
    .projects{
        margin-bottom: 0;
        padding-bottom: 7rem;
    }
    #gallery {
        margin: 8rem 0 2rem 0;
    }
    .container-h1{
        font-size: 3.5em;
        margin: 0;
    }
    .container-description{
        align-self: center;
        width: 90%;
        font-size: .8em;
        line-height: 1.3rem;
    }
    .btn-close{
        position: absolute;
        width: 2.2rem;
        top: 1rem;
        right: .5rem;
        color: white;
        cursor: pointer;
    }
    .lightbox .expanded-img{
        margin-top: 4rem;
        width: 95%;
        height: 100vh;
        max-height: 50rem;
    }
}
@media (max-width: 21rem) {
    .header-items-container{
        padding: 0 .5rem 0 0;
    }
    .header-items{
        flex-direction: column;
        gap: .7rem 0;
        font-size: .84em;
    }
    .header-logo{
        width: 8rem;
        max-height: 4.5rem;
    }
    .projects-images{
        width: 90%;
    }
    .description-section{
        padding: 0 1rem 4rem 1rem;
        height: 100%;
    }
    .container-h1{
        font-size: 3em;
    }
    .container-description{
        align-self: flex-start;
        width: 100%;
        font-size: .75em;
        line-height: 1.1rem;
    }
}
@media (min-width: 110rem) {
    .header-items-container{
        padding: 1rem 5rem;
    }
    .header-items{
        column-gap: 2.2rem;
        font-size: 1.2em;
    }
    .header-logo{
        width: 13rem;
    }
    .clouds-bg{
        top: -10rem;
    }
    #gallery {
        margin: 10rem 0 4rem 0;
        gap: 3rem 2rem;
    }
    .projects-images{
        width: 26rem;
    }
}