#inicio{
    overflow-x: hidden;
}
.header{
    background-color: var(--primary--color);
    color: var(--secondary-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}
.header-items-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    backdrop-filter: blur(.4rem);
}
.header-items{
    display: flex;
    column-gap: 1.5625rem;
    text-transform: uppercase;
    font-size: 1.05em;
    font-weight: 700;
    cursor: pointer;
}
.header-logo{
    width: 11.875rem;
    height: 4.375rem;
    object-fit: cover;
    cursor: pointer;
}
.link-hover{
    position: relative;
}
.link-hover::before {
    content: '';
    position: absolute;
    border: 2px solid var(--secondary-color);
    width: 100%;
    top: 90%;
    transform: rotate(-3deg) translateY(-50%);
    left: -10%;
    opacity: 0;
    transition: .4s ease;
}
.link-hover:hover::before{
    opacity: 1;
    left: 0;
}
.projects{
    position: relative;
    padding-bottom: 1rem;
}
.clouds-bg{
    position: absolute;
    top: -7rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
#gallery {
    margin: 7rem 0 9rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem 1rem;
    animation: slideUp 1.5s ease .5s both;
}
@keyframes slideUp {
    from {
        opacity: 0;
    }
}
.rotated {
    transform: rotate(var(--rotation));
}
.projects-images{
    width: 20rem;
    transition: .3s;
    user-select: none;
    pointer-events: auto;
    cursor: pointer;
}
.projects-images:hover {
    scale: 1.1;
    transform: rotate(0);
    z-index: 2;
}
.lightbox {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.469);
    backdrop-filter: blur(2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
    z-index: 4;
}
.btn-close{
    position: absolute;
    width: 2.7rem;
    top: 1rem;
    right: 1rem;
    color: white;
    cursor: pointer;
}
.lightbox .expanded-img{
    margin-top: 3rem;
    width: 100%;
    height: 90vh;
    max-height: 60rem;
    object-fit: contain;   
    user-select: none;
    pointer-events: none;
}
.lightbox.isActive{
    opacity: 1;
    pointer-events: auto;
}
.section{
    position: relative;
}
.description-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 0 0;
}
.container-star{
    width: 60%;
    margin: -11rem 0rem 0rem 0;
}
.container-description{
    max-width: 36rem;
    font-size: .98em;
    line-height: 1.4rem;
    align-self: start; 
    text-align: end;
    margin-right: 3rem;
    padding: 0 0 0 3rem;
}
#showreel{
    width: 100%;
    height: 90%;
} 
.showreel-video{
    width: 100%;
}
.footer{
    height: 25vh;
    width: 100%;
    padding: 0 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.25em;
}
.footer-col{
    width: 18.75rem;
    display: flex;
    flex-direction: column;
    gap: .3rem;
    position: relative;
}
.footer-form{
    margin: 0 .3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-email{
    outline: none;
    border: 0;
    width: 17rem;
    padding: .5rem .3rem;
    border-bottom: 2px solid var(--secondary-color);
    border-radius: .3rem;
    margin-bottom: 1rem;
}
.input-email::placeholder {
    color: var(--secondary-color);
}
.input-email:focus{
    border: 0;
    border-bottom: 2px solid var(--secondary-color);
}
.btn-send {
    text-transform: uppercase;
    font-size: 1.1rem;
    padding: .5rem;
    cursor: pointer;
}
.link-footer, .mail-link, .btn-send {
    width: 7rem;
    position: relative;
    margin: auto;
    transition: .4s ease;
}
.link-footer:hover, 
.mail-link:hover,
.btn-send:hover{
    background: #F3BA0A;
    color: #491FE5;
}
.link-footer::before, 
.mail-link::before,
.btn-send::before {
    content: '';
    position: absolute;
    border: 2px solid var(--secondary-color);
    transform: rotate(-2deg) translateY(-50%);
    width: 100%;
    top: 90%;
    left: 0;
}
.link-footer:hover::before,
.mail-link:hover::before,
.btn-send:hover::before{
    border: none;
}
.btn-send::before {
    top: 72%;
}
.link-footer:first-child{
    width: 7.8rem;
}
.mail-link::before{
    top: 95%;
    width: 95%;
    transform: rotate(-1.5deg) translateY(-50%);
    left: .2rem;
}
.mail-link{
    width: 16.5rem;
    margin-bottom: 2rem;
}
.btn-send{
    width: 5rem;
}
#form-error{
    color: var(--secondary-color);
    font-size: .7em;
    padding-bottom: .5rem;
}
@media (max-width: 76rem) {
    .header-items-container{
        padding: 0 2rem 0 4rem;
    }
    .header-logo{
        width: 10rem;
    }
    .description-section{
        height: auto;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 2rem 2rem 0;
    }
    .container-star{
        width: 90%;
        padding: 1rem;
        margin-bottom: 0;
    }
    .container-description{
        font-size: .9em;
        line-height: 1.3rem;
        align-self: flex-end;
    }
    .footer{
        padding: 1rem 2rem;
        font-size: 1em;
    }
    .footer-col{
        width: 13rem;
    }
    .input-email{
        margin-left: 1rem;
        width: 11.5rem;
    }
    .link-footer, .mail-link, .btn-send {
        width: 5rem;
    }
    .link-footer:first-child{
        width: 6rem;
    }
    .mail-link{
        width: 12.5rem;
    }
    .btn-send{
        font-size: 1em;
        width: 4rem;
    }
}
@media (max-width: 52rem) {
    .header-items-container{
        padding: 0 2rem 0 1.2rem;
    }
    .header-items{
        font-size: .95em;
    }
    .header-items li:first-child{
        display: none;
    }
    .container-star{
        width: 80%;
        padding: 2rem 2rem 1rem 0;
    }
    .footer{
        height: auto;
        padding: 2rem 2rem;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem 0;
    }
    .footer-col{
        gap: .4rem;
        line-height: 1rem;
    }
    .footer-form{
        width: auto;
        margin: 0;
    }
    .input-email{
        width: 14rem;
        padding: .3rem .2rem;
        margin-bottom: .5rem;
    }
    .btn-send{
        margin-top: .5rem;
        font-size: 1em;
        width: 4.5rem;
    }
    .btn-send::before {
        left: .2rem;
    }
    #showreel{
        margin-top: 1rem;
    } 
}
@media (max-width: 30rem) {
    .header-items-container{
        padding: 0 .5rem 0 0;
        border-bottom-left-radius: .5rem;
        border-bottom-right-radius: .5rem;
    }
    .header-items{
        column-gap: 1rem;   
    }
    .header-logo{   
        width: 7rem;
        max-height: 4rem;
    }
    .description-section{
        padding: 4rem 0;
    }
    .projects{
        margin-bottom: 0;
        padding-bottom: 7rem;
    }
    .container-star{
        width: 100%;
        padding: 2rem 2rem 1rem 0;
    }
    .container-description{
        align-self: center;
        width: 95%;
        font-size: .8em;
        line-height: 1.3rem;
    }
    .btn-close{
        position: absolute;
        width: 2.2rem;
        top: 1rem;
        right: .5rem;
        color: white;
        cursor: pointer;
    }
    .lightbox .expanded-img{
        margin-top: 4rem;
        width: 100%;
        height: 100vh;
    }
}
@media (max-width: 21rem) {
    .header-items-container{
        margin: 0 .5rem 0 0;
    }
    .header-items{
        flex-direction: column;
        gap: .7rem 0;
        font-size: .84em;
    }
    .header-logo{
        width: 8rem;
        max-height: 4.5rem;
    }
    .projects-images{
        width: 87%;
    }
    .projects{
        margin-bottom: 0;
        padding-bottom: 1rem;
    }
    .container-star{
        width: 100%;
        padding: 2rem 1rem 1rem 0;
    }
    .description-section{
        padding: 3rem 1rem 4rem 0;
    }
    .container-description{
        width: 100%;
        font-size: .75em;
        line-height: 1.1rem;
    }
}
@media (min-width: 110rem) {
    .header-items-container{
        padding: 1rem 5rem;
    }
    .header-items{
        column-gap: 2.2rem;
        font-size: 1.2em;
    }
    .header-logo{
        width: 13rem;
    }
    .clouds-bg{
        top: -10rem;
    }
    #gallery {
        margin: 10rem 0 4rem 0;
        gap: 3rem 2rem;
    }
    .projects-images{
        width: 26rem;
    }
}